{% extends 'blog_site/base.html' %}
{% block content %}

    {% for article in article_list %}
        <h4><a href="/{{ username }}/article/{{ article.pk }}">{{ article.title }}</a></h4>

        <div>
            {{ article.desc }}
        </div>

        <div class="clearfix">
            <div style="margin-top: 10px " class="article_bottom small pull-right">
                <span>posted @ {{ article.create_time|date:'Y-m-d H:i:s' }}</span>
                <span>{{ article.blog.userinfo.username }}</span>
                <span><i class="fa fa-comment" aria-hidden="true"><a
                        href="">评论({{ article.commit_num }})</a></i></span>
                <span class="glyphicon glyphicon-thumbs-up"><a href="">点赞({{ article.up_num }})</a></span>
                <span><a href="">编辑</a></span>
            </div>
        </div>
        <hr>
    {% endfor %}

{% endblock %}