<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404错误</title>
    <script src="../static/jquery-3.3.1.js"></script>
    <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <style>
        #box_404 {
            margin-top: 200px;
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-md-offset-5" id="box_404">
            <a href="http://www.cnblogs.com/"><img src="/static/img/admin_logo.gif" alt="cnblogs"></a>
            <p class="d">请确认您输入的网址是否正确，如果问题持续存在，请发邮件至contact@cnblogs.com与我们联系。</p>
            <p><b>404.</b> 抱歉! 您访问的资源不存在!</p>
            <p><a href="http://www.cnblogs.com/">返回网站首页</a></p>
        </div>

    </div>
</div>
</body>
</html>